.wrapper {
  width: 100%;
  max-width: 72rem; /* 1152px */
  margin: 1.25rem /* 20px */;
}

.wrapper h4{
    margin-bottom:  12px;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 500;
}

.main {
  background: #fff;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  max-height: 80vh;
  min-height: 60vh;
  overflow-y: scroll;
}

.header {
  display: none;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  padding: 12px 24px;
  border-bottom-style: 1px solid;
  font-weight: 700;
  font-size: 18px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-bottom-style: 1px solid;
}
.details:hover {
  background: #e5e7eb65;
}

.details p {
    font-size: 16px;
    font-weight: 500;
}

.actions{
    display: flex;
    margin-left:  -12px;
}

.edit {
    width: 40px;
    color: green;
    cursor: pointer;
}
.cancel {
    width: 40px;
    color:  red;
    cursor: pointer;
}

.receipt{
    border: none;
    outline: none;
    width: 100px;
    padding: 4px;
    margin-left: -10px;
    text-align: center;
    background: #ea580c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.receipt:hover{
    background: #fff;
    color: orange;
    border: 1px solid orange;
    transition:  0.3s;

}

@media (min-width: 640px) {
  .header {
    display: grid;
  }

  .details {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  }
}

@media not all and (min-width: 640px){
    .details {
        gap: 8px;
    }

    .index {
        display: none;
    }
}


/* @media (max-width: 640px) {
    .actions {
        flex-direction: column;
        gap: 10px;
    }
} */